<iframe src="https://docs.google.com/presentation/d/e/{{ include.embedkey }}/embed?start=false&loop=false&delayms=60000"></iframe>

<a href="https://docs.google.com/presentation/d/{{ include.linkkey }}/present" target="_blank">Click to view seperately...</a>